.avatar{
    height: 50px;
    width: 50px;
}

.flechaOrdenamiento{
    cursor:pointer;
    height: 15px;
    width: 8px;
    float: right;
}

.pdf {
    cursor: pointer;
    height: 45px;
    width: 45px;
}